@using Try2.Models.DTOs
@model FeedDto

<h2>Лента</h2>

<div>
    <button onclick="showTab('all')">Все посты</button>
    <button onclick="showTab('subs')">Подписки</button>
</div>

<hr />


<div id="all">
    @foreach (var post in Model.AllPosts)
    {
        <a asp-controller="Posts"
           asp-action="Details"
           asp-route-id="@post.Id"
           class="post-link">

            <div class="post-card">
                <div class="post-header">
                    <strong>@post.AuthorNickname</strong>
                    <span class="username">@post.AuthorUsername</span>
                </div>

                <div class="post-text">
                    @post.Text
                </div>

                <div class="post-footer">
                    ❤️ @post.LikesCount
                    <span class="date">@post.PublicationDate.ToShortDateString()</span>
                </div>
            </div>

        </a>
    }

</div>

<div id="subs" style="display:none">
    @if (Model.SubscriptionPosts == null)
    {
        <p>Войдите, чтобы видеть посты подписок</p>
        <a asp-controller="Account" asp-action="Login">Войти</a>
        <p>Нет аккаунта?</p>
        <a asp-controller="Account" asp-action="Register">Зарегистрируйтесь</a>
    }
    else if (!Model.SubscriptionPosts.Any())
    {
        <p>У вас пока нет подписок</p>
    }
    else
    {
        @foreach (var post in Model.SubscriptionPosts)
        {
            <a asp-controller="Posts"
               asp-action="Details"
               asp-route-id="@post.Id"
               class="post-link">

                <div class="post-card">
                    <div class="post-header">
                        <strong>@post.AuthorNickname</strong>
                        <span class="username">@post.AuthorUsername</span>
                    </div>

                    <div class="post-text">
                        @post.Text
                    </div>

                    <div class="post-footer">
                        ❤️ @post.LikesCount
                        <span class="date">@post.PublicationDate.ToShortDateString()</span>
                    </div>
                </div>

            </a>
        }

    }
</div>

<script>
    function showTab(tab) {
        document.getElementById("all").style.display = tab === "all" ? "block" : "none";
        document.getElementById("subs").style.display = tab === "subs" ? "block" : "none";
    }
</script>
